<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mantis" >
  <!-- Arguments-->
  <xacro:arg name="gz_sim" default="false"/>
  <xacro:arg name="real_robot" default="false"/>

  <!-- Setup files -->
  <xacro:arg name="controller_file" default="$(find prl_ur5_control)/config/dual_arm_controller.yaml"/>
  <xacro:property name="setup_file" value="${xacro.load_yaml('$(find prl_ur5_robot_configuration)/config/standard_setup.yaml')}"/>
  <xacro:property name="network_file" value="${xacro.load_yaml('$(find prl_ur5_robot_configuration)/config/network_setup.yaml')}"/>

  <!-- ur5 arm -->
  <xacro:include filename="$(find prl_ur5_description)/urdf/ur5_complete_arm.urdf.xacro"/>
  <!-- fixed camera-->
  <xacro:include filename="$(find prl_ur5_description)/urdf/_fixed_cameras.urdf.xacro"/>

  <!-- Global frame -->
  <link name="prl_ur5_base"/>
  
  <!-- Table -->
  <material name="Blue">
    <color rgba="${0/255} ${30/255} ${70/255} 1.0"/>
  </material>

  <link name="table_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find prl_ur5_description)/model/vention_table.stl"/>
      </geometry>
      <material name="Blue"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find prl_ur5_description)/model/vention_table.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="table_fix" type="fixed">
    <parent link="prl_ur5_base"/>
    <child link = "table_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  
  <!-- Cameras fixtures (if any) -->
  <xacro:if value="${setup_file.get('fixed_cameras_file') is not None}">
    <xacro:fixed_cameras parent="prl_ur5_base" fixed_cameras_file="$(find prl_ur5_robot_configuration)/config/${setup_file['fixed_cameras_file']}" turn_on="true"/>
  </xacro:if>

  <!-- back wall -->
  <link name="backwall_link">
    <visual>
      <geometry>
        <box size="3.5 0.1 2" />
      </geometry>
      <material name="grey"><color rgba="0.8 0.8 0.8 0.2"/></material>
    </visual>
    <collision>
      <geometry>
        <box size="3.5 0.1 2" />
      </geometry>
    </collision>
  </link>

  <joint name="backwall_fix" type="fixed">
    <parent link="prl_ur5_base"/>
    <child link = "backwall_link"/>
    <origin xyz="0 -1.05 0.25" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- left wall -->
  <link name="leftwall_link">
    <visual>
      <geometry>
        <box size="0.1 1.95 2" />
      </geometry>
      <material name="grey"><color rgba="0.8 0.8 0.8 0.1"/></material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 1.95 2" />
      </geometry>
    </collision>
  </link>

  <joint name="leftwall_fix" type="fixed">
    <parent link="prl_ur5_base"/>
    <child link = "leftwall_link"/>
    <origin xyz="-1.65 0 0.25" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- ARMS -->
  <!-- Left arm -->
  <xacro:property name="left" value="${setup_file.get('left')}"/>
  <xacro:property name="left_network" value="${network_file.get('left_network')}"/>
  <xacro:arm prefix="left_"
                 parent="prl_ur5_base" 
                 pose="${left['arm_pose']}"
                 sensors="false"
                 gz_sim="$(arg gz_sim)"
                 ft_sensor="${left.get('ft_sensor')}"
                 gripper="${left.get('gripper')}"
                 gripper_pose="${left.get('gripper_pose')}"
                 camera="${left.get('camera')}"
                 camera_pose="${left.get('camera_pose')}"
                 joint_limits_parameters_file="$(find prl_ur5_robot_configuration)/config/${left.get('arm_joint_limits')}"
                 kinematics_parameters_file="$(find prl_ur5_robot_configuration)/config/${left.get('arm_kinematics')}"
                 network = "${left_network}"
                 />
  <!-- Right Arm -->
  <xacro:property name="right" value="${setup_file.get('right')}"/>
  <xacro:property name="right_network" value="${network_file.get('right_network')}"/>
  <xacro:arm prefix="right_"
                 parent="prl_ur5_base" 
                 pose="${right['arm_pose']}"
                 sensors="false"
                 gz_sim="$(arg gz_sim)"
                 ft_sensor="${right.get('ft_sensor')}"
                 gripper="${right.get('gripper')}"
                 gripper_pose="${right.get('gripper_pose')}"
                 camera="${right.get('camera')}"
                 camera_pose="${right.get('camera_pose')}"
                 joint_limits_parameters_file="$(find prl_ur5_robot_configuration)/config/${right.get('arm_joint_limits')}"
                 kinematics_parameters_file="$(find prl_ur5_robot_configuration)/config/${right.get('arm_kinematics')}"
                 network = "${right_network}"
                 />
  <!-- Gazebosim plugin -->
  <xacro:if value="$(arg gz_sim)">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(arg controller_file)</parameters>
        </plugin>
    </gazebo>
  </xacro:if>

  <!-- Linking Arms to world -->
  <link name="base_link" />
  <joint name="base_2_ur" type="fixed">
    <parent link="base_link" />
    <child link="prl_ur5_base" />
    <origin xyz="0 0 0.8" rpy="0 0 0" />
  </joint> 

</robot>
